@using PagedList.Core.Mvc;
@model PagedList.Core.IPagedList<Project_63135901.Models.Product>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách sản phẩm" + CurrentPage;
    Layout = "~/Areas/Admin_63135901/Views/Shared/_AdminLayout63135901.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin_63135901" asp-controller="HomeController_63135901" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách sản phẩm: Page @CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" id="txtCatID" name="txtCatID" style="min-width: 180px;" asp-items="ViewBag.Product">
                            <option value="0" disabled selected>Danh mục</option>
                            <option value="all">Tất cả</option>
                        </select>
                    </div>                   
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-area="Admin_63135901" asp-controller="AdminProducts_63135901" asp-action="Create">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Thêm sản phẩm</span>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>                      
                        <th>ID</th>
                        <th>Tên sản phẩm</th>
                        <th>Danh mục</th>
                        <th>Giá</th>
                        <th>Tồn kho</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach(var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.ProductId
                                </td>
                                <td>
                                    @item.ProductName
                                </td>
                                <td>
                                    @item.Cat.CatName
                                </td>
                                <td>
                                    @item.Price.Value.ToString("#,##0") VNĐ
                                </td>
                                <td>
                                    @item.UnitsInStock
                                </td>
                                <td>
                                    @if (item.UnitsInStock.Value > 0)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>In Stock</div>
                                        </div>
                                    }
                                    else
                                    {
                                    <div class="d-flex align-items-center">
                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                            <div>Out of Stock</div>
                                    </div>
                                    }
                                    
                                </td>
                               
                                <td class="text-right">
                                    <a class="btn btn-icon btn-hover btn-sm btn-rounded" asp-area="Admin_63135901" asp-controller="AdminProducts_63135901" asp-action="Delete" asp-route-id="@item.ProductId">
                                        <i class="anticon anticon-delete"></i>
                                    </a>
                                    <a class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" asp-area="Admin_63135901" asp-controller="AdminProducts_63135901" asp-action="Edit" asp-route-id="@item.ProductId">
                                        <i class="anticon anticon-edit"></i>
                                    </a>
                                    <a class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" asp-area="Admin_63135901" asp-controller="AdminProducts_63135901" asp-action="Details" asp-route-id="@item.ProductId">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
            <div style="position: absolute; right: 0;">
                <div style="right:0" aria-label="Page navigation example">
                    <ul class="pagination">
                        <pager class="page-container" list="@Model" asp-area="Admin_63135901" asp-controller="AdminProducts_63135901" asp-route-CatID="@ViewBag.CurrentCatID" asp-action="Index">
                        </pager>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            jQuery("#txtCatID").change(function () {
                var catID = jQuery(this).children(":selected").attr("value");
                catID = parseFloat(catID);
                $('#txtCatID option').remove('selected');
                $("#txtCatID > [value=" + catID + "]").attr("selected", "true");
                $.ajax({
                    url: '/Admin_63135901/AdminProducts_63135901/Filter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        CatID: catID
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>
}